<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	  <section class="content-header" layout:fragment="content-header">
      <h1>
        Reports
        <small>r01: รายงานระบบทะเบียนทรัพย์สิน</small>
      </h1>
      <ol class="breadcrumb">
      	<li><a th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
        <li><i class="fa fa-files-o"></i> Reports</li>
        <li class="active">r01</li>
      </ol>
    </section>

	<section class="content" layout:fragment="content" >
		<div class="modal fade" tabindex="-1" role="dialog" id="modal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">กรุณาเลือกเจ้าหน้าที่</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal" id="modalForm"">
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">ระบุชื่อ</label>
		        		<div class="col-sm-10">
		                    <input class="form-control" id="inputName" type="text">
		                  </div>
		        	</div>
		        </form>
		        
		        <div id="tableResult">
		        </div>
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" id="saveBtnModal" class="btn btn-primary">Save changes</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	
	
		<div class="row">
			<div class="col-md-12">
				<div class="box box-warning" id="searchView">
					<div class="box-header with-border">
		              <h3 class="box-title">ค้นหาข้อมูล</h3>
		            </div>
					
					<form target="_blank" class="form-horizontal" id="searchForm" th:action="@{/reports/allInv}">
		              <div class="box-body">
		                <div class="form-group" id="orgGroup">
		                  <label for="inputEmail3" class="col-sm-2 control-label">เลือกหน่วยงาน</label>
		
		                  <div class="col-sm-10">
		                    <select class="form-control" id="orgSlt">
							 
							</select>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label for="inputFiscalYear" class="col-sm-2 control-label">ปีงบประมาณตั้งแต่</label>
		
		                  <div class="col-sm-10">
		                    <input class="form-control" id="inputFiscalYearBegin" type="text">
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label for="inputFiscalYear" class="col-sm-2 control-label">ถึง</label>
		
		                  <div class="col-sm-10">
		                    <input class="form-control" id="inputFiscalYearEnd" type="text" disabled>
		                  </div>
		                </div>
		                
		                <div class="form-group">
		                
		             	<label for="inputFiscalYear" class="col-sm-2 control-label"></label>
		             	<div class="col-sm-10">
			                <div class="radio">
								<label>
								    <input type="radio" name="optionsRadios" id="noOption" value="noOption" checked="checked">
								   		รายงานทะเบียนครุภัณฑ์ จำแนกตามรหัสชนิดครุภัณฑ์ หรือหน่วยงาน
								  </label>
								</div>
				                <div class="radio">
								  <label>
								    <input type="radio" name="optionsRadios" id="option1" value="option1">
								     	รายงานทะเบียนครุภัณฑ์ จำแนกตามผู้เบิก <span id="employeeName" class="nameTxt" style="border-bottom: 1px dotted;"></span>
								  </label>
								</div>
								<div class="radio">
								  <label>
								    <input type="radio" name="optionsRadios" id="option2" value="option2">
								    	รายงานทะเบียนครุภัณฑ์ จำแนกตามผู้รับ <span id="receiverName" class="nameTxt" style="border-bottom: 1px dotted;"></span>
								  </label>
								</div>
			                </div>
			             </div>
		              </div>
		              <!-- /.box-body -->
		              <div class="box-footer">
		                <button type="submit" class="btn btn-default">Print Report</button>
		              </div>
		              <!-- /.box-footer -->
		            </form>
					
				</div>
			</div>
		</div>
	</section>
	
	
	<div layout:fragment="pageScript">
<script id="loadingEmployeeTemplate" type="text/x-handlebars-template" th:inline="text">
	<div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
		<img src="/inventory/static/images/loader1.gif"> <h2>Searching Database. Please Wait...<h2>
	</div>
</script>
<script id="employeeTableTemplate" type="text/x-handlebars-template">
{{#unless this}}
	<div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
		<h2>ไม่พบข้อมูล กรุณาระบุใหม่<h2>
	</div>
{{else}}

	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width:18px;"></th><th> ชื่อ-นามสกุล </th>
			</tr>
		</thead>
	{{#each this}}
		<tbody>
		<tr>
			<td style="width:18px;text-align:center;">
				<input type="radio" name="employeeRadio" value="{{EMP_ID}}">
			</td> <td>{{PFIX_ABBR}}{{EMP_NAME}}</td>	
		</tr>
		</tbody>
	{{/each}}
	</table>
{{/unless}}
</script>

<script id="loadingTemplate" type="text/x-handlebars-template" th:inline="text">
	<div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
		<img src="/inventory/static/images/loader1.gif"> <h2>Generarting Report. Please Wait...<h2>
	</div>
</script>
	
	
<script id="orgSltTemplate" type="text/x-handlebars-template" th:inline="text">
<option value="0">กรุณาเลือกหน่วยงาน</option>
{{#each this}}
	<option value="{{ORG_ID}}">{{nbsp ORG_NAME}}</option>
{{/each}}
</script>	
	
	
		<script type="text/javascript" th:src="@{/static/pagejs/r01.js}"></script>
		
		<script type="text/javascript" th:inline="javascript">
		
		Handlebars.registerHelper("nbsp", function(txt) {
		    return txt.replace(/" "/gi,"&nbsp;");
		    
		});
		
		var DomainObject = Backbone.Model.extend({
		});
		
		var DomainObjectCollection = Backbone.Collection.extend({

		});
		
		
		var orgs = new DomainObjectCollection();	
		var searchView;
		var modalView;
		
$( document ).ready(function() {
		
	
	
	
	$.when( orgs.fetch({url:"/inventory/JSON/Organization"}) ).done(function(x) {
		searchView = new SearchView({
			el: "#searchView"
		});

	
	});
	
	
	
		
});

		</script>
	</div>
</body>
</html>