config.datasource.jdbc.url=jdbc:oracle:thin:@110.164.87.24:1521:tmg
config.datasource.jdbc.username=energy
config.datasource.jdbc.password=energy
config.datasource.jdbc.driver=oracle.jdbc.driver.OracleDriver

config.logback.level=debug
config.logback.appender=console